<div class="header">
  <h2 mat-dialog-title class="text-header-modal">
    ¿Estás seguro de eliminar <b>{{ data.name }}</b>?
  </h2>
</div>

<mat-dialog-content class="modal-content">
  <p class="text-subheader-modal">{{ getMessage() }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-actions">
  <button mat-stroked-button [mat-dialog-close]="'cancel'" class="btnCancel">Cancelar</button>
  <button mat-flat-button color="warn" [mat-dialog-close]="'confirm'" class="btnDelete">Eliminar</button>
</mat-dialog-actions>