<app-sidebar>
  <div class="upload-container">
    <div class="header">
      <mat-icon class="icon-header">info</mat-icon>
      <h2>Cargar Excel y generar documento FOLAB</h2>
    </div>

    <mat-vertical-stepper [linear]="false">
      <mat-step>
        <ng-template matStepLabel>Datos de recepción</ng-template>
        <div class="step-title-reception">
          <p>Ingresa los siguientes datos.</p>
        </div>
        <div class="step-content-form">
          <form [formGroup]="clienteForm" class="form-wrapper two-columns">
            <mat-form-field appearance="outline" class="custom-input">
              <mat-icon matPrefix>person</mat-icon>
              <input
                matInput
                placeholder="Nombre completo o razón social del cliente*"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-input">
              <mat-icon matPrefix>location_on</mat-icon>
              <input matInput placeholder="Dirección*" />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="custom-input full-width"
            >
              <mat-icon matPrefix>phone</mat-icon>
              <input matInput placeholder="Teléfono*" type="phone" />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="custom-input full-width"
            >
              <mat-icon matPrefix>device_thermostat</mat-icon>
              <input
                matInput
                placeholder="Temperatura de la muestra al ingreso del laboratorio (°C)*"
              />
            </mat-form-field>
          </form>
        </div>

        <app-buttons-below
          [showButtonLeft]="false"
          [showButtonRight]="true"
          textButtonRight="Siguiente"
        ></app-buttons-below>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Reportes de cálculos de Excel</ng-template>
        <div style="margin-top: 10px;">
          <mat-accordion>
          <mat-expansion-panel *ngFor="let prueba of pruebas; let i = index"  [expanded]="panelAbiertoIndex === i" [disabled]="!canActivatePanel(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon [ngStyle]="{color: estadoPruebas.get(prueba) ? '#156F9C' : 'gray'}" class="iconCheck">
                  {{ estadoPruebas.get(prueba) ? 'check_circle' : 'check_circle_outline' }}
                </mat-icon>
                {{ prueba }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-excel-uploader [testName]="prueba"
              (fileUploaded)="onFilesReceived($event)"
              (fileRemoved)="onFileRemoved($event)"
            ></app-excel-uploader>
          </mat-expansion-panel>
        </mat-accordion>
        </div>
        <app-buttons-below
          [showButtonLeft]="true"
          [showButtonRight]="true"
          textButtonRight="Siguiente"
          [disabled]="!allFilesUploaded()"
          textButtonLeft="Regresar"
        ></app-buttons-below>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Realizar FOLAB</ng-template>
        <div class="step-content-prewview">
          <div class="summary-block">
            <h3>Datos de recepción</h3>
            <p><strong>Nombre o razón social del cliente:</strong> Pedro</p>
            <p><strong>Dirección:</strong> nose</p>
            <p><strong>Teléfono:</strong> hola</p>
            <p>
              <strong>Temperatura del laboratorio:</strong>
              40 °C
            </p>
          </div>

          <div class="summary-block">
            <h3>Archivos cargados</h3>
            <ul>
              <li>Humedad: cenizas.pdf</li>
              <li>Cenizas: cenizas.pdf</li>
              <li>Proteínas: cenizas.pdf</li>
              <li>Grasas: cenizas.pdf</li>
            </ul>
          </div>
        </div>
        <app-buttons-below
          [showButtonLeft]="true"
          [showButtonRight]="true"
          textButtonRight="Finalizar"
          textButtonLeft="Regresar"
        ></app-buttons-below>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</app-sidebar>
