.upload-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .icon-header {
      color: #156F9C;
    }

    h2 {
      margin: 0;
      font-family: 'Alata', sans-serif;
    }
  }

  .step-content {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 3px;
    padding: 60px;
    text-align: center;
    min-height: 160px;

    .icon-upload {
      font-size: 64px; /* Puedes ajustar hasta 72px sin problema */
      color: #156F9C;
      height: 70px;
      margin-bottom: 10px;
      display: block;
      line-height: 1;
      width: 100%;
    }

    p {
      margin-top: 30px;
      font-size: 1rem;
    }
  }
}

::ng-deep .mat-step-icon {
  background-color: #156F9C !important;
  color: white;
}

.buttons-content-down{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.buttons-content-down button {
  width: 48%; /* Hace que el botón se expanda para llenar el contenedor */
  background-color: #156F9C !important;
  color: #FFFFFF !important;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

.step-title-reception{
  padding: 0 20px;
  font-size: 14px;
  font-family: 'Alata', sans-serif;
  color: #156F9C;
}

.step-content-form {
  border-radius: 10px;
  padding: 5px 20px;
  min-height: 160px;
  display: flex;
  justify-content: flex-start;

  .form-wrapper {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .full-width {
    width: 100%;
  }

  .two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

 .custom-input {
  width: 100%;
 }

 .full-width {
  grid-column: 1 / -1;
 }
}


.step-content-prewview{
  padding: 10px 20px;
  min-height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  align-items: flex-start;
  justify-content: start;
}

.summary-block {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Alata', sans-serif;

  h3 {
    margin-bottom: 16px;
    color: #156F9C;
  }

  p, li {
    font-size: 15px;
    margin-bottom: 8px;
  }
}

.iconCheck{
  margin-right: 15px;
}


/*DISEÑO DE STEP EN LA SECCION DE SUBIR ARCHIVOS*/
.content-stepper{
  margin-top: 3px;
}


